.skillsContainer{
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
    grid-gap: 40px;
    padding: 60px 0;
}
.skillsContainer .skills_title{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.skillsContainer .icon{
color: #3a678a;
font-size: 2.5rem;
}


.cards_skill {
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 400px));
    grid-gap: 40px;
    
  }
  
  .card_skill {
    padding: 1rem;
    grid-column-end: span 4;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.274) 0px 8px 24px;
    background-color: white;
    border-radius: 4px;
    color:#333;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .card_skill:hover {
    transform: translateY(-7px);
  }
  .skillsContainer .text--medium {

    color: #555;
  }

  .skillsContainer .card__price{
    color: #fff;

  }


@media (max-width: 768px) {
  .skillsContainer{
    grid-template-columns: 1fr ;
    display: block;
  
}


.cards_skill {
    grid-column: 0;
    display: grid;
    grid-template-columns:1fr;
    grid-gap: 40px;
    
  }
}


